<!DOCTYPE html>
<html lang="en">
<head>
    <title>Pollens</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>

<div class="container">
    <div class="row">
        <div class="col align-self-center">
            <a type="button" class="btn btn-warning" href="http://localhost:3000">BACK</a>
        </div>
    <div class="col-6 mx-auto mt-5">
            <form action="/picker" method="post">
                <h2>TREES: </h2>
                <% for(var i=0; i<tree.length; i++) { %>
                    <div class="form-check form-switch">
                        <%if(clientTree.includes(tree[i])){%>
                        <input class="form-check-input" type="checkbox" role="switch" id='<%=tree[i]%>' name='pollen' value='<%=tree[i]%>' checked>
                        <% }else{%>
                        <input class="form-check-input" type="checkbox" role="switch" id='<%=tree[i]%>' name='pollen' value='<%=tree[i]%>'>
                        <%}%>
                        <label class="form-check-label" for= <%= tree[i]%>> <%= tree[i]%></label>
                    </div>
                <% } %>
                <h2>GRASS: </h2>
                <% for(var i=0; i<grass.length; i++) { %>
                <div class="form-check form-switch">
                    <%if(clientGrass.includes(grass[i])){%>
                    <input class="form-check-input" type="checkbox" role="switch" id='<%=grass[i]%>' name='pollen' value='<%=grass[i]%>' checked>
                    <% }else{%>
                    <input class="form-check-input" type="checkbox" role="switch" id='<%=grass[i]%>' name='pollen' value='<%=grass[i]%>' >
                    <%}%>
                    <label class="form-check-label" for= <%= grass[i]%>> <%= grass[i]%></label>
                </div>
                <% } %>
                <h2>WEEDS: </h2>
                <% for(var i=0; i<weed.length; i++) { %>
                <div class="form-check form-switch">
                    <%if(clientWeed.includes(weed[i])){%>
                    <input class="form-check-input" type="checkbox" role="switch" id='<%=weed[i]%>' name='pollen' value='<%=weed[i]%>' checked>
                    <% }else{%>
                    <input class="form-check-input" type="checkbox" role="switch" id='<%=weed[i]%>' name='pollen' value='<%=weed[i]%>'>
                    <%}%>
                    <label class="form-check-label" for= <%= weed[i]%>> <%= weed[i]%></label>
                </div>
                <% } %>

                <button type="submit" class="btn btn-primary btn-block mb-4">UPDATE POLLENS</button>

            </form>
        </div>

    </div>

</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
